<launch>
    <arg name="wz_freq"/>
    <arg name="wz_min_speed"/>
    <arg name="dnc_cmd"/>
    <arg name="wz_stat"/>
    <arg name="wz_tpk"/>
    <arg name="wz_boat_L"/>

    <node  pkg="interface" type="wenzhou_io" name="wenzhou_io" output="screen">
        <param name="freq" value="$(arg wz_freq)"/>
        <param name="min_speed" value="$(arg wz_min_speed)"/>
        <param name="cmd_tpk" value="$(arg dnc_cmd)"/>
        <param name="stat_tpk" value="$(arg wz_stat)"/>
        <param name="wenzhou_tpk" value="$(arg wz_tpk)"/>
        <param name="boat_L" value="$(arg wz_boat_L)"/>
    </node>
</launch>