<launch>
    <arg name="my_ns" default="/TCP"/>
    <arg name="dsrc_id" default="2"/>
    <arg name="freq" default="10"/>
    <arg name="nav_tpk" default="/iv_perception/veh_stat"/>
    <arg name="is_print" default="True"/>
    <arg name="is_head" default="False"/>
    <node ns="$(arg my_ns)" pkg="interface" type="to_dsrc" name="to_dsrc" output="screen">
        <param name="id" value="$(arg dsrc_id)"/>
        <param name="freq" value="$(arg freq)"/>
        <param name="namespace" value="$(arg my_ns)"/>
        <param name="nav_tpk" value="$(arg nav_tpk)"/>
        <param name="is_print" value="$(arg is_print)"/>
        <param name="is_head" value="$(arg is_head)"/>
    </node>
</launch>