<launch>
    <arg name="is_print" default="False"/>
    <arg name="steering_i" default="16"/>
    <node  pkg="interface" type="tsu_chassis_ctrl" name="tsu_chassis_ctrl" output="screen">
        <param name="is_print" value="$(arg is_print)"/>
        <param name="steering_i" value="$(arg steering_i)"/>
    </node>
</launch>