<launch>
    <arg name="my_ns" default="/TCP"/>
    <arg name="isprint" default="True"/>
    <node ns="$(arg my_ns)" pkg="interface" type="recv_dsrc" name="recv_dsrc" output="screen">
        <param name="namespace" value="$(arg my_ns)"/>
        <param name="is_print" value="$(arg isprint)"/>
    </node>
</launch>