<launch>
    <arg name="my_ns" default="udp_send"/>
    <arg name="udp_send_ip" default="127.0.0.1"/>
    <arg name="udp_send_port" default="8080"/>
    <arg name="udp_sub_tpk" default="/to_send"/>
    <arg name="udp_buf_size" default="100"/>
    <node ns="$(arg my_ns)"  pkg="shcom" type="udp_send" name="udp_send" output="screen">
        <param name="send_ip"  value="$(arg udp_send_ip)"/>
        <param name="send_port" value="$(arg udp_send_port)"/>
        <param name="udp_sub"  value="$(arg udp_sub_tpk)"/>
        <param name="buf_size"  value="$(arg udp_buf_size)"/>
    </node>
</launch>