<launch>
    <arg name="dtu_freq"/>
    <arg name="dtu_veh_cnt"/>
    <arg name="dtu_id"/>
    <arg name="dtu_pub2udp"/>
    <arg name="dtu_subudp"/>
    <arg name="dtu_v2v_tpk"/>
    <arg name="dtu_vehstat_tpk"/>
    <arg name="my_ns"/>

    <node ns="$(arg my_ns)" pkg="perception" type="dtu" name="dtu" output="screen">
        <param name="freq" value="$(arg dtu_freq)"/>
        <param name="veh_cnt" value="$(arg dtu_veh_cnt)"/>
        <param name="id" value="$(arg dtu_id)"/>
        <param name="pub2udp" value="$(arg dtu_pub2udp)"/>
        <param name="subudp" value="$(arg dtu_subudp)"/>
        <param name="v2v_tpk" value="$(arg dtu_v2v_tpk)"/>
        <param name="vehstat_tpk" value="$(arg dtu_vehstat_tpk)"/>

        <!--   -->
        <!--remap from="/lidar_points" to="/points_raw"/-->
    </node>
</launch>