<launch>
    <node pkg="perception" type="ray_ground_filter" name="ray_ground_filter" output="screen">
        <param name="input_point_topic" value="/rslidar_points"/>
        <param name="sensor_height" value="1.63"/>
        <param name="clipping_height" value="1.0"/>
        <param name="clipping_back" value="-5.0"/>
        <param name="lidar_rotation_x" value="0.0"/>
        <param name="lidar_rotation_y" value="0"/>
        <param name="lidar_rotation_z" value="0"/>
        <param name="lidar_translation_x" value="2"/>
        <param name="lidar_translation_y" value="0"/>
        <param name="lidar_translation_z" value="0"/>
        <param name="grid_size" value="0.3"/>
        <param name="grid_max_X" value="30.5"/>
        <param name="grid_min_X" value="-1.0"/>
        <param name="grid_max_Y" value="5.5"/>
        <param name="grid_min_Y" value="-5.5"/>
        <param name="obs_size" value="0.175"/>
        <!-- 检测到障碍大小的阈值  -->
        <!--remap from="/lidar_points" to="/points_raw"/-->
    </node>
    <!--node pkg="perception" type="toDNC" name="toDNC"/-->
</launch>