<launch>
    <!--launch serial com-->
    <include file="$(find interface)/launch/tsu_dsrc_to.launch">
        <arg name="my_ns" value="/TCP"/>
        <arg name="dsrc_id" value="2"/>
        <arg name="freq" value="10"/>
        <arg name="nav_tpk" value="/nav_info"/>
        <arg name="is_print" value="True"/>
    </include>
</launch>