<launch>
    <!--launch serial com-->
    <include file="$(find shcom)/launch/serial_com.launch">
        <arg name="com_serial_port" value="/dev/ttyS0"/>
        <arg name="com_baud_rate" value="115200"/>
        <arg name="com_freq" value="10"/>
        <arg name="com_pub_tpk" value="/gnss/rtk"/>
    </include>
    <!--launch gnss reader! -->
    <include file="$(find localization)/launch/rtk.launch">
        <arg name="rtk_serial_tpk" value="/gnss/rtk"/>
        <arg name="rtk_nmea" value="$GPRMC$"/>
        <arg name="rtk_utm_ori" value="$mode3$"/>
        <arg name="rtk_freq" value="10"/>
        <arg name="rtk_debug_info" value="True"/>
    </include>
</launch>