<launch>
    <!--launch weifang interface-->
    <include file="$(find interface)/launch/wenzhou_io.launch">
        <arg name="wz_freq" value="100"/>
        <arg name="wz_min_speed" value="0.5"/>
        <arg name="dnc_cmd" value="/iv_dnc/cmd"/>
        <arg name="wz_stat" value="/iv_perception/veh_stat"/>
        <arg name="wz_tpk" value="/omega"/>
        <arg name="wz_boat_L" value="2.5"/>
    </include>
</launch>